@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.wrapper{
    position: relative;
    background-color: #8194FF;
    margin-top: 200px;
    height: 584px;
    z-index: -2;
}

.white_text , .black_text{
    position: absolute;
    font-size: 225px;
    font-weight: bold;
    right: 0;
    left: 0;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
    z-index: -1;
}

.white_text{
    top: 0;
}

.black_text{
    color: black;
    bottom: 0;
}