.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    width: 50%;
    z-index: 2;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 10px -10px 5px;
    flex-direction: column;
    padding: 50px;
    background-position: center;
    gap: 50px;
}

@media only screen and (max-width: 1500px){
    .container{
        width: 80%;
        gap: 20px;
    }
}