.inputField, .errorInput{
    padding-left: 15px;
    display: flex;
    width: 80%;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 3px;
    z-index: 2;
    color: #7e7e7e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.inputField{
    background-color: white;
}

.inputField::placeholder{
    font-size: 15px;
    color: #C4C5C7;
}

.inputField:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.errorInput{
    background-color: black;
    color: white;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: black;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background .2s ease-in-out;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

input[type=file]::file-selector-button:hover {
    background: white;
    color: black;
}