.inputField, .errorInput{
    display: flex;
    width: 80%;
    border: 1px solid grey;
    z-index: 2;
    color: #7e7e7e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    padding-left: 2%;
    border-radius: 3px;
}

.input_container{
    display: flex;
    gap: 15px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.inputField{
    background-color: white;
}

.inputField::placeholder{
    font-size: 15px;
    color: #C4C5C7;
}

.inputField:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: black;
    color: white;
    transform: scale(1.05);
}

.errorInput{
    background-color: black;
    color: white;
}

.label_text{
    font-size: 15px;
    color: #3a3a3a;
    margin-right: auto;
    padding-left: 10%;
}

input[type="file"]::file-selector-button {
    cursor: default;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.option {
    background-color: black;
    color: white;
    transition: 300ms;
}

.option:hover {
    background-color: white;
    color: black;
}