.form_card{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 30px;
    flex-direction: row;
    padding: 40px;
    width: 100%;
    background-color: white;
    z-index: 2;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 10px 4px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.form_card:hover{
    transition: 0.3s;
    transform: scale(1.03);
    background-color: black;
    color: white;

}

.info_container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.options_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.options_container p{
    display: flex;
    justify-content: space-between;
    gap: 40px
}

span{
    color: #FFCA42;
}

.photo{
    object-fit: cover;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

@media only screen and (max-width: 1500px){
    .options_container{
        flex-direction: column;
    }
    .form_card{
        flex-direction: column;
    }
}