.swiper {
    width: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    border-radius: 20px !important;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}